.packageInfo {
    background-color: #7EBDC2;
    border-radius: 4.5vw;
    height: 15vw;
    width: 65vw;
    margin: 1vw 3vw 3vw 3vw;
    display: flex;
    justify-content: space-around;
  }
  
  .packageNoInfo {
    visibility: hidden;
    height: 0px;
  }
  
  .imageContainer {
    /* background-color: brown; */
    width: 60%;
    display: flex;
    justify-content: center;
  }
  
  .iInfo {
    color: white;
  }
  #iName {
    color: white;
  }
  .itemName {
    /* background-color: brown; */
    width: 450px;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 60px;
  }
  
  .itemInfo {
    /* background-color: brown; */
    width: 750px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .itemCategory {
    display: flex;
    margin-top: 100px;
    position: relative;
    top: 40px;
    left: 100px;
  }
  
  .itemCategory2 {
    margin-top: 100px;
    position: relative;
    top: 38px;
    left: 100px;
  }