.orderBox {
  width: 800px;
  height: 800px;
  background-color: #919191;
  border-radius: 45px;
  display: flex;
  margin-bottom: 100px;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  position: relative;
}

.packageImage {
  width: 100px;
  height: 100px;
}
.imgBox {
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
}
.orderDetails {
  width: 400px;
  height: 500px;
  background-color: #2c148c;
  border-radius: 45px;
  position: relative;
  margin-bottom: 70px;
}

.headerText {
  position: absolute;
  top: 40px;
  left: 120px;
}

.orderImage {
  border-radius: 45px;
}

.details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
  height: 400px;
  margin-block-start: 2em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
  color: white;
  font-size: 25px;
}

.ebutton {
  position: absolute;
  left: 80px;
  bottom: -70px;
  background-color: #f37602;
  border-radius: 25px;
  width: 200px;
  color: white;
  height: 40px;
  font-size: 25px;
}
.dbutton {
  position: absolute;
  left: 80px;
  bottom: -120px;
  background-color: #f37602;
  border-radius: 25px;
  width: 200px;
  color: white;
  height: 40px;
  font-size: 25px;
}
