.orderContainer {
  border-radius: 45px;
  background-color: #124559;
  width: auto;
  position: relative;
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  flex-direction: column;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
}


.options {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: row;
  width: 70vw;
}

.line {
  border-bottom: 1px solid #000; /* whichever color you prefer */
  width: 66vw;
  margin-bottom: 15px;
}
.htext {
  display: flex;
  color: white;
  /* position: absolute; */
  top: 80px;
  left: 80px;
  font-size: 35px;
}

p {
  position: absolute;
  top: -30px;
  left: 40px;
  color: black;
}

.searchBar {
  border: 0.5px solid black;
  border-radius: 45px;
  outline: none;
  padding-left: 29px;
  margin-bottom: 17px;
}
.searchContainer {
  position: relative;
  display: inline-block;
}
.magGlassIcon {
  position: absolute;
  left: 10px;
  top: 5px;
}
.orderItems {
  background-color: #7EBDC2;
  height: 200px;
}
li {
  display: inline;
  margin: 0px 30px 20px 0px;
}


.link:hover{
  color: orange;
  cursor: pointer;
}

.orderList {
  height:1000px;
  width: 1000px;
  display: flex;
}


